<!DOCTYPE>
<html ng-cloak ng-app="myApp">
<head>
	<title>Ill Gotten</title>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/demo.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="AppCtrl">
	<md-toolbar md-scroll-shrink>
	    <div class="md-toolbar-tools">
	    	<div id="title">My Posts</div>
	    	<md-input-container style="width: 50%;">
		    	<ng-md-icon size="25" icon="search" md-font-library="material-icons"></ng-md-icon>
		    	<label for="input_2">Search</label>
			    <input id="input_2" style="display:inline !important;" class="ng-pristine form-control" ng-model="query" />
			</md-input-container>
		</div>
			    
	  </md-toolbar>

  <div id="sideNav" ng-controller="sideNav">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
     
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <div class="bar">
				<div class="filter">
					  
					
					<md-input-container class="groupSearch">
						<ng-md-icon size="20" icon="search" md-font-library="material-icons"></ng-md-icon>
						<label for="input_2">Find a group</label>
					    <input id="input_2" style="display:inline !important;" class="ng-pristine form-control" ng-model="queryGroups" />
					</md-input-container >
					<ul class="menu-toggle-list">
						
					</br>
						

						<li>
							<menu-link section="page" class="ng-isolate-scope"><a ng-click="getGroup(''); hideRemoveGroup()" class=" left-text md-button md-ink-ripple" ng-href="#/all" ><span class="ng-binding ng-scope">
							<ng-md-icon class="group-icons" icon="home" size="20" md-font-library="material-icons"></ng-md-icon>
							  Home
							  </span>
							</a>
							</menu-link>
						</li>
						<li>
							<menu-link section="page" class="ng-isolate-scope"><a ng-click="filterGroup(' '); hideRemoveGroup()" class=" left-text md-button md-ink-ripple" ng-href="#/all" ><span class="ng-binding ng-scope">
							<ng-md-icon class="group-icons" icon="settings" size="20" md-font-library="material-icons"></ng-md-icon>
							  Settings
							  </span>
							</a>
							</menu-link>
						</li>
						<li>
							<menu-link section="page" class="ng-isolate-scope"><a ng-click="filterGroup(' '); hideRemoveGroup()" class=" left-text md-button md-ink-ripple" ng-href="#/favorites" ><span class="ng-binding ng-scope">
							<ng-md-icon class="group-icons" icon="favorite" size="20" md-font-library="material-icons"></ng-md-icon>
							  Favorites
							  </span>
							</a>
							</menu-link>
						</li>
						<li>
							<menu-link section="page" class="ng-isolate-scope"><a ng-click="filterGroup(' '); hideRemoveGroup()" class=" left-text md-button md-ink-ripple" ng-href="#/reading-list" ><span class="ng-binding ng-scope">
							<ng-md-icon class="group-icons" icon="bookmark_outline" size="20" md-font-library="material-icons"></ng-md-icon>
							  Read Later
							  </span>
							</a>
							</menu-link>
						</li>
						<hr class="guide-section-separator">
						
						<li style="
					    margin: 0 4px;
					    padding: 0 11px;
					    color: #D83E3E;
					    height: 25px;
					">My Groups</li>
					<li ng-show="showAddGroup">
						<div id="creategroup">
							<form ng-submit="addGroup(group.name); showAddGroup = ! showAddGroup">
								    <input id="input_1" focus-on="newItemAdded" style="display:inline !important;" class="ng-pristine form-control" ng-model="group.name" />
							  
							<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
							</form>
						</div>

					</li>
						<li class="bin" droppable drop="handleDrop" bin="bin" id="{{ group._id }}"
           					ng-repeat="group in groups | filter:queryGroups | orderBy:'-created'">
							<menu-link section="page" class="ng-isolate-scope">
							<a class="md-button md-ink-ripple" href="javascript:void(0)" ng-click="getGroup(group._id, group.name, showRemoveGroup); getPostss()" >
							<ng-md-icon size="18" class="group-icons" icon="my_library_books">
							</ng-md-icon> 
							  <span class="ng-binding ng-scope">
							  {{group.name}}
							  </span>
							  <p style="display:none;">{{group.created}}</p>
							</a>
							<ng-md-icon class="group-icons" icon="backspace" size="15" md-font-library="material-icons" ng-click="removeGroup(group._id)">
						      <md-tooltip>
						        delete
						      </md-tooltip>
						  </ng-md-icon>
							</menu-link>

						</li>
						<hr class="guide-section-separator">
						<li style="
					    margin: 0 4px;
					    padding: 0 11px;
					    color: #D83E3E;
					    height: 25px;
					">Subscriptions</li>
					</ul>
					
					
				</div>
			</div>
      </md-content>
      
	<menu-link section="page" class="new-group-button ng-isolate-scope">
		<md-button class="left-text ng-md-icon-button md-accent" aria-label="plus" ng-click="showAddGroup = ! showAddGroup; focusInput()">
	      <ng-md-icon md-font-library="material-icons" class="left-text" icon="playlist_add">plus</ng-md-icon> Create group
	      
	    </md-button>
	</menu-link>
					
    </md-sidenav>

    <md-button ng-click="toggleLeft()"
    class="md-primary" hide-gt-md>
    Toggle left
  </md-button>

  </div>


<div class="gridListdemoBasicUsage" ui-view ng-cloak>
			
</div>


	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
	  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
	<script src="controllers/controller.js"></script>
	<script type="text/javascript">
		var removeEl = function() {
			$('h2.md-title').each(function(){
				if($(this).text().length < 1) {
					$(this).addClass('unseen')
				}
			});
		} 

		var intervalOne = setInterval(function(){
			removeEl()
			$('md-select').click(function(){
			 	setTimeout(function(){
			 		$('body').attr('style', '');
			 		$('html').attr('style', '');
			 	}, 100);
			 });
			$('button.left-text.ng-md-icon-button.md-accent.md-button.md-ink-ripple').click(function(){
				$('input#input_1').focus();
			});
		}, 100);

		 var intervalTwo = setInterval(function(){
			if($('md-card')[0]) {
				clearInterval(intervalOne)
			}
		}, 100);

		 setTimeout(function(){
		 	clearInterval(intervalTwo);
		 });

	</script>



</body>
</html>


