<html lang="en" class="no-js"ng-app="myApp"><head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Monument</title>
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/demo.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
	<body class="" ng-controller="AppCtrl">
		<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>  

	    <div layout="row">
	      <md-input-container ng-repeat="group in groups" style="margin-right: 10px;">
	        <label>{{group.name}}</label>
	        <md-select ng-model="post">
	          <md-option ng-repeat="post in posts" ng-if="post.group.indexOf(group._id)  !== -1" value="{{post.title}}">{{post.title}}</md-option>
	        </md-select>
	      </md-input-container>
	  </div>
	</md-toolbar>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
	  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
	<script src="controllers/controller.js"></script>

	<script type="text/javascript">
	$('button#open-button').click();
	$('button#close').hide();

	$('a').click(function(){
		$('a').each(function(){
			$(this).addClass('hidden');
			$(this).addClass('hidden').removeClass('show');
			$('button#close').show();
			$(this).next('div').show().addClass('currently-open');
		}); 
		$('button#close').click(function(){
			$('a').attr('class', '');
			$(this).hide();
			$('.currently-open').hide();
		});
		

		$(this).addClass('show').removeClass('hidden');
		
	});

	var hashContent = window.location.hash.split('/?/');

	if (hashContent[0]) {
		var image = hashContent[0].slice(7);
	}
	if (hashContent[1]) {
		var title = hashContent[1].slice(6);
	}
	if (hashContent[2]) {
		var description = hashContent[2].slice(12);
	}
	

	setTimeout(function(){
		$('input#user-model').val($('#user_id').text());
		$('input#user-model').change();
		$('input#new-group-user').val($('#user_id').text());
		$('input#new-group-user').change();
	}, 3000);

	var setInputs = function() {
		var parenturl = (window.location != window.parent.location)
        ? document.referrer
        : document.location;

		$('input#url').val(parenturl);
		$('input#url').change();

		$('input#image').val(image);
		$('input#image').change();

		$('input#title').val(title);
		$('input#title').change();

		$('input#description').val(description);
		$('input#description').change();

		$('input#group').val($('select.cs-select.cs-skin-boxes').val());
		$('input#group').change();

		$('input#user-model').val($('#user_id').text());
		$('input#user-model').change();

		$('input#new-group-user').val($('#user_id').text());
		$('input#new-group-user').change();
	}
	setTimeout(function(){
		$('li.option-select').click(function(){
			$('input#group').val($('select.cs-select').val());
			$('input#group').change();
			console.log('option changed');
		});
	}, 2000);
	$('button#js-ripple-btn').click(function(){
		setInputs();
		setTimeout(function(){
			setInputs();
		}, 3000);
	});


	$('button#theGroupButton').click(function(){
		setInputs();
		setTimeout(function(){
			setInputs();
		}, 3000);
	});

	setTimeout(function(){
		$('select').change(function(){
			

			$('input#new-group-user').val($('#user_id').text());
			$('input#new-group-user').change();
			console.log($('input#group').val())
		});
	}, 3000);
	

	console.log('image:' + image)
	</script>

	

<script>
var optionsInterval = setInterval(function(){
	if($('div.cs-options')[0] === undefined) {
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
				new SelectFx(el, {
					stickyPlaceholder: false,
					onChange: function(val){
						document.querySelector('span.cs-placeholder').style.backgroundColor = val;
					}
				});
			} );
		})();
	}

}, 500);

setTimeout(function(){
	if($('div.cs-options')[0]) {
		clearInterval(optionsInterval);
	}
}, 1000);

</script>
</body></html>