<html lang="en" class="no-js"ng-app="myApp"><head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Monument</title>
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/demo.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>
	<body class="" ng-controller="AppCtrl">
		<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
		<div class="bar"></div>  
		<form style="margin:0 5px;">
		    <div layout="row">
		      <md-input-container>
		        <label>Select Group</label>
		        <md-select style="width: 140px;" ng-model="post.group">
		          <md-option ng-repeat="group in groups" value="{{group._id}}">{{group.name}}</md-option>
		        </md-select>
		      </md-input-container>
		  	
		 
			<input ng-model="post.url" style="display:none !important;" id="url" type="text" />
			<input ng-model="post.title" style="display:none !important;" id="title" type="text" />
			<input ng-model="post.description" style="display:none !important;" id="description" type="text" />
			<input ng-model="post.image" style="display:none !important;" id="image" type="text" />
			<input ng-model="post.group" style="display:none !important;" id="group" type="text" />
			<button style="margin-top: 19px;" class="md-button md-ink-ripple" ng-click="addPost()">
				Add Post
			</button>
			</div>
		</form>
	</md-toolbar>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
	  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
	<script src="controllers/controller.js"></script>

	<script type="text/javascript">

	var setInputs = function() {
		var hashContent = window.location.hash.split('/?/');

		if (hashContent[0]) {
			var image = hashContent[0].slice(7);
		}
		if (hashContent[1]) {
			var title = hashContent[1].slice(6);
		}
		if (hashContent[2]) {
			var description = hashContent[2].slice(12);
		}

		var parenturl = (window.location != window.parent.location)
        ? document.referrer
        : document.location;

		$('input#url').val(parenturl);
		$('input#url').change();

		$('input#image').val(image);
		$('input#image').change();

		$('input#title').val(title);
		$('input#title').change();

		$('input#description').val(description);
		$('input#description').change();

		$('input#group').change();
	}
	$('button').click(function(){
		setInputs();
	});


	</script>

	

<script>
var optionsInterval = setInterval(function(){
	if($('div.cs-options')[0] === undefined) {
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
				new SelectFx(el, {
					stickyPlaceholder: false,
					onChange: function(val){
						document.querySelector('span.cs-placeholder').style.backgroundColor = val;
					}
				});
			} );
		})();
	}

}, 500);

setTimeout(function(){
	if($('div.cs-options')[0]) {
		clearInterval(optionsInterval);
	}
}, 1000);

</script>
</body></html>